<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
    <title> TekWeb-Home</title>
    <object th:include="layout :: site-head" th:remove="tag" />
</head>

<body>
<div id="sb-site" >

    <div th:replace="layout :: site-layout-loading" >  </div>

    <div id="page-wrapper">
        <!-- Pageheader -->
        <div th:replace="layout :: site-layout-header" ></div>
        <!-- SideBar -->
        <div th:replace="layout :: site-layout-sidebar" ></div>
        <!-- PageContent -->
        <div id="page-content-wrapper">
            <div id="page-content">
                <div class="container">
                    <object th:replace="layout :: site-layout-contentbar"/>

                    <div class="panel">
                        <h3>&nbsp;
                        </h3>

                        <div class="panel-body">
                            <div class="alert alert-notice">
                                <div class="bg-blue alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <h2 class="alert-title" style="margin-top: 18px"> Welcome to TekWeb</h2>
                                <div class="alert-content">
                                    <div class="divider"> </div>
                                    <div class="divider"> </div>
                                    <h5> Tool Tips :</h5>
                                    <div class="divider"> </div>
                                   <p> <i class="glyph-icon icon-cog"></i>&nbsp;Navigate leftside menu to explore control panel options  </p>
                                    <div class="divider"> </div>
                                   <p>  <i class="glyph-icon icon-cog"></i>&nbsp;Effective adminpanel contains user and respective configuration menus</p>
                                    <div class="divider"> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>


</div>
</body>
</html>