<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:fragment="site-head" >
    <meta charset="UTF-8"/>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/customstyle.css}"/>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/monarch/assets/images/icons/apple-touch-icon-144-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/monarch/assets/images/icons/apple-touch-icon-114-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/monarch/assets/images/icons/apple-touch-icon-72-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/monarch/assets/images/icons/apple-touch-icon-57-precomposed.png}"/>
    <link rel="shortcut icon" th:href="@{/monarch/assets/images/icons/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/bootstrap/css/bootstrap.css}"/>

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/animate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/backgrounds.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/boilerplate.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/border-radius.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/grid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/page-transitions.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/spacing.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/typography.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/utils.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/colors.css}"/>

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/badges.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/buttons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/content-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/dashboard-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/forms.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/images.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/info-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/invoice.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/loading-indicators.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/menus.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/panel-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/response-messages.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/responsive-tables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/ribbon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/social-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/tables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/tile-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/elements/timeline.css}"/>



    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/icons/fontawesome/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/icons/linecons/linecons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/icons/spinnericon/spinnericon.css}"/>


    <!-- WIDGETS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/accordion-ui/accordion.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/calendar/calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/carousel/carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/charts/justgage/justgage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/charts/morris/morris.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/charts/piegage/piegage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/charts/xcharts/xcharts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/chosen/chosen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/colorpicker/colorpicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/datatable/datatable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/datepicker/datepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/datepicker-ui/datepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/dialog/dialog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/dropdown/dropdown.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/dropzone/dropzone.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/file-input/fileinput.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/input-switch/inputswitch.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/input-switch/inputswitch-alt.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/ionrangeslider/ionrangeslider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/jcrop/jcrop.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/jgrowl-notifications/jgrowl.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/loading-bar/loadingbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/maps/vector-maps/vectormaps.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/markdown/markdown.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/modal/modal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/multi-select/multiselect.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/multi-upload/fileupload.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/nestable/nestable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/noty-notifications/noty.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/popover/popover.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/pretty-photo/prettyphoto.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/progressbar/progressbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/range-slider/rangeslider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/slidebars/slidebars.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/slider-ui/slider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/tabs-ui/tabs.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/theme-switcher/themeswitcher.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/timepicker/timepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/tocify/tocify.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/tooltip/tooltip.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/touchspin/touchspin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/uniform/uniform.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/wizard/wizard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/widgets/xeditable/xeditable.css}"/>

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/chat.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/files-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/login-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/notification-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/progress-box.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/todo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/user-profile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/snippets/mobile-navigation.css}"/>

    <!-- APPLICATIONS -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/applications/mailbox.css}"/>

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/themes/admin/layout.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/themes/admin/color-schemes/default.css}"/>

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/themes/components/default.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/themes/components/border-radius.css}"/>

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/responsive-elements.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/monarch/assets/helpers/admin-responsive.css}"/>

    <!-- JS Core -->
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-ui-position.js"></script>
    <!--<script type="text/javascript" src="/monarch/assets/js-core/transition.js"></script>-->
    <script type="text/javascript" src="/monarch/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/monarch/assets/js-core/jquery-cookie.js"></script>
    <!--<script type="text/javascript" src="/monarch/assets/widgets/datatable/datatable-fixedcolumns.js"></script>-->
    <script type="text/javascript" src="/monarch/assets/widgets/wow/wow.js"></script>


    <!-- WIDGETS -->
    <script type="text/javascript" src="/monarch/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/progressbar/progressbar.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/superclick/superclick.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/input-switch/inputswitch-alt.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/slimscroll/slimscroll.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/slidebars/slidebars.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/slidebars/slidebars-demo.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/charts/piegage/piegage.js"></script>
    <script type="text/javascript" src="/monarch/assets/widgets/charts/piegage/piegage-demo.js"></script>
    <!-- Screenfull -->
    <script type="text/javascript" src="/monarch/assets/widgets/screenfull/screenfull.js"></script>
    <!-- Content box -->
    <script type="text/javascript" src="/monarch/assets/widgets/content-box/contentbox.js"></script>
    <!-- Overlay -->
    <script type="text/javascript" src="/monarch/assets/widgets/overlay/overlay.js"></script>
    <!-- Widgets init for demo -->
    <script type="text/javascript" src="/monarch/assets/js-init/widgets-init.js"></script>
    <!-- Theme layout -->
    <script type="text/javascript" src="/monarch/assets/themes/admin/layout.js"></script>
    <!-- Theme switcher -->
    <script type="text/javascript" src="/monarch/assets/widgets/theme-switcher/themeswitcher.js"></script>
    <!-- Custom JS scripts-->
    <script type="text/javascript" src="/js/customstyle.js"></script>

</head>

<body>
<div id="sb-site" >

    <div id="loading"  th:fragment="site-layout-loading" >
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div    >

    <div id="page-wrapper">
        <!-- Pageheader -->
        <div id="page-header" class="bg-gradient-9"  th:fragment="site-layout-header"  >
            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
                <a href="index.html" class="logo-content-small" title="TekWeb"></a>
            </div>
            <div id="header-logo" class="logo-bg">
                <a href="login.html" class="logo-content-big" title="TekWeb">
                    <h1 class="logo-content-big-2">TekWeb</h1>
                </a>
                <a href="login.html" class="logo-content-small" title="TekWeb">
                </a>
                <a id="close-sidebar" href="#" title="Close sidebar">
                    <i class="glyph-icon icon-angle-left"></i>
                </a>
            </div>
            <div id="header-nav-left">
                <div class="user-account-btn dropdown">
                    <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                        <img width="28" src="/monarch/assets/image-resources/gravatar.jpg" alt="Profile image" />
                        <span>Hi,Balakrishnan</span>
                        <i class="glyph-icon icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu float-left">
                        <div class="box-sm">
                            <div class="login-box clearfix">
                                <div class="user-img">
                                    <a href="#" title="" class="change-img">Change photo</a>
                                    <img src="/monarch/assets/image-resources/gravatar.jpg" alt="" />
                                </div>
                                <div class="user-info">
                            <span>
                                Balakrishnan
                                <i>Software developer</i>
                            </span>
                                    <a href="#" title="Edit profile">Edit profile</a>
                                    <a href="#" title="View notifications">View notifications</a>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="pad5A button-pane button-pane-alt text-center">
                                <a href="#" class="btn display-block font-normal btn-danger">
                                    <i class="glyph-icon icon-power-off"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #header-nav-left -->

            <div id="header-nav-right">
                <div class="dropdown" id="dashnav-btn">
                    <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Dashboard Quick Menu">
                        <i class="glyph-icon icon-linecons-cog"></i>
                    </a>
                    <div class="dropdown-menu float-right">
                        <div class="box-sm">
                            <!--<div class="divider"></div>-->
                            <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                                <a href="#" class="btn vertical-button remove-border btn-info" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                            </span>
                                    Dashboard
                                </a>
                                <a href="#" class="btn vertical-button remove-border btn-danger" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                            </span>
                                    ReleasePlan
                                </a>
                                <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                            </span>
                                    Reports
                                </a>
                                <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                            </span>
                                    Charts
                                </a>
                                <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                            </span>
                                    AdminPanel
                                </a>
                                <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                            </span>
                                    Profiles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="header-btn" id="logout-btn" href="/api/login" title="logout">
                    <i class="glyph-icon icon-linecons-lock"></i>
                </a>

            </div><!-- #header-nav-right -->
        </div>
        <!-- SideBar -->
        <div id="page-sidebar"  th:fragment="site-layout-sidebar" >
            <div class="scroll-sidebar">
                <ul id="sidebar-menu">
                    <li class="header"><span>Menu</span></li>
                    <li>
                        <a href="/api/report/user/audit" title="User Audit">
                            <i class="glyph-icon icon-linecons-tv"></i>
                            <span>User Audit</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="no-menu">
                        <a href="/api/home" title="Token Audit">
                            <i class="glyph-icon icon-linecons-beaker"></i>
                            <span>Token Audit</span>
                        </a>
                    </li>
                    <li class="header"><span>AdminPanel</span></li>
                    <li>
                        <a href="#" title="Elements">
                            <i class="glyph-icon icon-linecons-diamond"></i>
                            <span>User Management</span>
                        </a>
                        <div class="sidebar-submenu">

                            <ul>
                                <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                                <li><a href="labels-badges.html" title="Labels &amp; Badges"><span>Labels &amp; Badges</span></a></li>
                                <li><a href="content-boxes.html" title="Content boxes"><span>Content boxes</span></a></li>
                                <li><a href="icons.html" title="Icons"><span>Icons</span></a></li>
                                <li><a href="nav-menus.html" title="Navigation menus"><span>Navigation menus</span></a></li>
                                <li><a href="response-messages.html" title="Response messages"><span>Response messages</span></a></li>
                                <li><a href="images.html" title="Images"><span>Images</span></a></li>
                            </ul>

                        </div><!-- .sidebar-submenu -->
                    </li>
                    <li>
                        <a href="#" title="Dashboard boxes">
                            <i class="glyph-icon icon-linecons-lightbulb"></i>
                            <span>Token configuration</span>
                        </a>
                        <div class="sidebar-submenu">

                            <ul>
                                <li><a href="chart-boxes.html" title="Chart boxes"><span>Chart boxes</span></a></li>
                                <li><a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a></li>
                                <li><a href="social-boxes.html" title="Social boxes"><span>Social boxes</span></a></li>
                                <li><a href="panel-boxes.html" title="Panel boxes"><span>Panel boxes</span></a></li>
                            </ul>

                        </div><!-- .sidebar-submenu -->
                    </li>
                    <li>
                        <a href="#" title="Widgets">
                            <i class="glyph-icon icon-linecons-wallet"></i>
                            <span>User Authentication</span>
                        </a>
                        <div class="sidebar-submenu">

                            <ul>
                                <li><a href="tabs.html" title="Responsive tabs"><span>Responsive tabs</span></a></li>
                                <li><a href="collapsable.html" title="Collapsables"><span>Collapsable accordions</span></a></li>
                                <li><a href="bs-carousel.html" title="Bootstrap Carousel"><span>Bootstrap carousel</span></a></li>
                                <li><a href="calendar.html" title="Calendar"><span>Calendar</span></a></li>
                                <li><a href="scrollbars.html" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
                                <li><a href="modals.html" title="Modals"><span>Modals</span></a></li>
                                <li><a href="notifications.html" title="Notifications"><span>Notifications</span></a></li>
                                <li><a href="lazyload.html" title="Lazyload"><span>Lazyload</span></a></li>
                                <li><a href="loading-feedback.html" title="Loading feedback"><span>Loading feedback</span></a></li>
                                <li><a href="popovers-tooltips.html" title="Popovers &amp; Tooltips"><span>Popovers and Tooltips</span></a></li>
                                <li><a href="progress-bars.html" title="Progress bars"><span>Progress bars</span></a></li>
                                <li><a href="sortable-elements.html" title="Sortable elements"><span>Sortable elements</span></a></li>
                            </ul>

                        </div><!-- .sidebar-submenu -->
                    </li>
                    <li>
                        <a href="#" title="Forms UI">
                            <i class="glyph-icon icon-linecons-eye"></i>
                            <span>Transaction Authentication</span>
                        </a>
                        <div class="sidebar-submenu">

                            <ul>
                                <li><a href="forms-elements.html" title="Form elements"><span>Form elements</span></a></li>
                                <li><a href="forms-validation.html" title="Form validation"><span>Form validation</span></a></li>
                                <li><a href="pickers.html" title="Pickers"><span>Pickers</span></a></li>
                                <li><a href="sliders.html" title="Sliders"><span>Sliders</span></a></li>
                                <li><a href="forms-wizard.html" title="Form wizards"><span>Form wizards</span></a></li>
                                <li><a href="forms-masks.html" title="Form input masks"><span>Form input masks</span></a></li>
                                <li><a href="image-crop.html" title="Image crop"><span>Image crop</span></a></li>
                                <li><a href="dropzone-uploader.html" title="Dropzone uploader"><span>Dropzone uploader</span></a></li>
                                <li><a href="multi-uploader.html" title="Multi uploader"><span>Multi uploader</span></a></li>
                                <li><a href="input-knobs.html" title="Input knobs"><span>Input knobs</span></a></li>
                                <li><a href="ckeditor.html" title="Ckeditor"><span>Ckeditor</span></a></li>
                                <li><a href="summernote.html" title="Summernote"><span>Summernote</span></a></li>
                                <li><a href="markdown.html" title="Markdown editor"><span>Markdown editor</span></a></li>
                                <li><a href="inline-editor.html" title="Inline editor"><span>Inline editor</span></a></li>
                            </ul>
                        </div><!-- .sidebar-submenu -->
                    </li>
                </ul><!-- #sidebar-menu -->


            </div>
        </div>
        <!-- PageContent -->
        <div id="page-content-wrapper">
            <div id="page-content">
                <div class="container" th:fragment="site-layout-contentbar">
                </div>
            </div>
        </div>

</div>



</div>
</body>
</html>