<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
    <title>UserAudit-Info</title>
    <object th:include="layout :: site-head" th:remove="tag" />
</head>

<body>
<div id="sb-site" >

    <div th:replace="layout :: site-layout-loading" >  </div>

    <div id="page-wrapper">
        <!-- Pageheader -->
        <div th:replace="layout :: site-layout-header" ></div>
        <!-- SideBar -->
        <div th:replace="layout :: site-layout-sidebar" ></div>
        <!-- PageContent -->
        <div id="page-content-wrapper">
            <div id="page-content">
                <div class="container">
                    <object th:replace="layout :: site-layout-contentbar"/>
                    <div class="content-box">
                        <h3 class="content-box-header content-box-header-alt bg-primary">
                            User Audit - Search
                        </h3>
                        <div class="button-pane button-pane-top">
                            <div class="form-group">
                                <div class="row">
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="AppId"/>
                                                </div>
                                            </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="GroupId"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="UserId"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn btn-sm btn-warning" align="centre">
                                            Search
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="content-box-wrapper">
                            <div class="example-box-wrapper">

                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" style="font-size: x-small">
                                    <thead>
                                    <tr>
                                        <th>appid</th>
                                        <th>groupid</th>
                                        <th>userid</th>
                                        <th>Firstname</th>
                                        <th>lastname</th>
                                        <th>mobile</th>
                                        <th>email</th>
                                        <th>address</th>
                                        <th>dob</th>
                                        <th>gender</th>
                                        <th>maritalstatus</th>
                                        <th>lastlogin</th>
                                        <th>password</th>
                                        <th>status</th>
                                        <th>passwdchangedate</th>
                                        <th>modifieddate</th>
                                        <th>createddate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userlist}">
                                        <td th:text="${user.appid}"></td>
                                        <td th:text="${user.groupid}"></td>
                                        <td th:text="${user.userid}"></td>
                                        <td th:text="${user.firstname}"></td>
                                        <td th:text="${user.lastname}"></td>
                                        <td th:text="${user.mobile}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td th:text="${user.dob}"></td>
                                        <td th:text="${user.gender}"></td>
                                        <td th:text="${user.maritalstatus}"></td>
                                        <td th:text="${user.lastlogin}"></td>
                                        <td th:text="${user.password}"></td>
                                        <td th:text="${user.status}"></td>
                                        <td th:text="${user.passwdchangedate}"></td>
                                        <td th:text="${user.modifieddate}"></td>
                                        <td th:text="${user.createddate}"></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>